.main{
    /* height: 50rem; */
}

.main h1{
    font-size: 4rem;
}

.link{
    margin:auto;
    /* width: 30px; */
}

@media (max-width : 768px) {
    .main h1{
        font-size: 3rem;
    }

    .main{
    height: 25rem;
  }
}

@media (max-width : 480px) {
    .main h1{
        font-size: 2rem;
    }

    .main{
    height: 20rem;
  }


}