.top{
    height: 30rem;
}

.top h1{
    font-size: 4rem;
}

@media (max-width : 768px) {
    .top h1{
        font-size: 3rem;
    }

    .top{
    height: 25rem;
  }
}

@media (max-width : 480px) {
    .top h1{
        font-size: 2rem;
    }

    .top{
    height: 20rem;
  }

}